@model EstadoCuentaViewModel
@{
	//var documentos = Model.
	var saldoInicial = new Documento();
	double cargo = 0, abono = 0;
	
}

<div id="main" class="wrapper">


	<section id="tabla">
		<div class="container mb-5">
			<div class="row">
				<div class="col-lg-12">

					<div id="tabla" class="pt-4">
						<table class="table table-striped table-responsive">
							<thead>
								<tr class="table-title">
									<th colspan="8">@((Model.Estado == 1) ? "FACTURAS" : "ESTADO DE CUENTA" )</th>
								</tr>
								<tr>
									<th scope="col" class="text-center">Fecha</th>
									<th scope="col" class="text-center">Vencimiento</th>
									<th scope="col" class="text-center">Folio</th>
									<th scope="col" class="text-center">Concepto</th>
									<th scope="col" class="text-center">Cargo</th>
									<th scope="col" class="text-center">Abono</th>
									<th scope="col" class="text-center">Saldo de la cuenta</th>
									<th scope="col" class="text-center">Ver Documento</th>
								</tr>
							</thead>
							<tbody>
								@if (Model != null && Model.Documentos != null)
								{
									foreach (Documento doc in Model.Documentos)
									{
										if (doc.TipoKey == "SI")
											saldoInicial = doc;
										else
										{
											<tr>
												
												<td scope="row" class="text-center">@Html.DisplayFor(m => doc.Fecha)</td>
												<td scope="row" class="text-center fecha-vencimiento">
													@Html.DisplayFor(m => doc.FechaVencimiento)
												</td>
												<td class="text-center">@doc.NoDocumento</td>
												<td class="text-center">@doc.Tipo</td>
												<td class="text-end">@Html.DisplayFor(m => doc.Cargo)</td>
												<td class="text-end">@Html.DisplayFor(m => doc.Abono)</td>
												<td class="text-end">@Html.DisplayFor(m => doc.Total)</td>
												<td class="text-center">
													<div>
														<a asp-action="Descargar" asp-controller="Usuarios" class="btn-a files mb-2"><img src="/img/icons/xml.png"><img src="/img/icons/pdf.png"></a>
													</div>
												</td>
											</tr>

											cargo += doc.Cargo;
											abono += doc.Abono;
										}
									}
								}
								else if (Model.Estado == 1)
								{
									<tr>
										<td colspan="7" class="text-center">Sin facturas</td>
									</tr>
								}
								else
								{
									<tr>
										<td colspan="7" class="text-center">Sin transacciones registradas</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="resumen">
		<div class="container mb-5">
			<div class="row">
				<div class="col-lg-4 col-12"></div>
				<div class="col-lg-4 col-12">
					@if (saldoInicial != null && saldoInicial.NoDocumento == 0 && Model.Estado != 2)
					{
						<div class="row">
							<div class="col-lg-6 col-6">
								<p>Saldo inicial</p>
							</div>
							<div class="col-lg-6 col-6">
								<p>@Html.DisplayFor(m => saldoInicial.Total) </p>
							</div>
							<div class="col-lg-12"><hr></div>
							<div class="col-lg-6 col-6">
								<p>(+) Cargos</p>
							</div>
							<div class="col-lg-6 col-6">
								<p>@string.Format("{0:C}", cargo)</p>
							</div>
							<div class="col-lg-6 col-6">
								<p>(-) Abonos</p>
							</div>
							<div class="col-lg-6 col-6">
								<p>@string.Format("{0:C}", abono)</p>
							</div>
							<div class="col-lg-12"><hr></div>
							<div class="col-lg-6 col-6">
								<p>Saldo final</p>
							</div>
							<div class="col-lg-6 col-6">
								<p>@(string.Format("{0:C}", saldoInicial.Total + cargo + abono))</p>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section>

</div>



@*
								var btnDescargar = document.getElementById("btn-descargar");
			var btnLogOut = document.getElementById("btn-logout");

//btnDescargar.addEventListener("click", function () {

			//	btnLogOut.hidden = true;
			//	console.log("ocultar");
			//});

			//document.addEventListener("click", function (event) {
			//	if (event.target !== btnDescargar) {
			//		btnLogOut.hidden = false;
			//		console.log("mostrar");
			//	}
			//});*@